<!DOCTYPE html>
<html>
<head><%= favicon_link_tag 'favicon.ico' %>
  <title>Análise de Livros</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
			<%= image_tag("logo.png", class: "navbar-brand") %>
			</div>
			<ul class="nav navbar-nav">
			<li>
				<%= link_to "Início", root_path %>
			</li>
			<% if user_signed_in? %>
			<li>
				<%= link_to "Cadastrar Livro",  new_book_path %>
				<% end %>
			</li>
		</ul>
		
		<ul class="nav navbar-nav navbar-right">
		<% if user_signed_in? %>
			<li>
				<%= link_to "Sair", destroy_user_session_path,  method: :delete%>
			</li>
			<%else %>
			<li>
				<%= link_to "Entrar", new_user_session_path %>
			</li>
			<li>
				<%= link_to "Cadastrar", new_user_registration_path %>
			</li>
		<% end %>


		</ul>
		</div>


	</nav>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
